<launch>
  <arg name="topic_a" default="/drone_0_planning/bspline_minco"/>
  <arg name="topic_b" default="/drone_0_planning/bspline_bspline"/>
  <arg name="sample_dt" default="0.05"/>

  <node pkg="ego_planner" type="traj_compare_node" name="traj_compare_node" output="screen">
    <param name="compare/topic_a" value="$(arg topic_a)"/>
    <param name="compare/topic_b" value="$(arg topic_b)"/>
    <param name="compare/sample_dt" value="$(arg sample_dt)"/>
  </node>
</launch>
